.container {
  .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 32px 0;
    border-bottom: solid 1px black;

    &__LogoBlock {
      display: flex;
      align-items: center;
      gap: 15px;
      max-width: 700px;
      width: 100%;
      padding: 5px 30px;
      border-radius: 5px;
      &__Text {
        h1 {
          color: white;
          font-weight: 900;
        }
        p {
          color: gray;
          opacity: 0.9;
          font-size: 14px;
        }
      }
    }
    .Search {
      flex: 1;
      margin: 0px 50px;
    }
    .ButtonBox {
      display: flex;
      padding: 0px 5px;
      gap: 20px;
      .Profile {
        min-width: 110px;
        height: 31px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: solid 1px black;
        padding: 5px 15px;
        border-radius: 15px;
        background-color: transparent;
        color: black;
        font-weight: 500;
        img {
          border-radius: 100%;
          width: 20px;
          height: 20px;
        }
        &:hover {
          scale: 1.02;
        }
        &:active {
          scale: 0.98;
        }
      }
      .loading {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 15px;
        border-radius: 20px;
        animation: Skeleton 1.5s infinite;

        span {
          height: 15px;
          background-color: gray;
          width: 2px;
        }
        b {
          opacity: 0;
        }
        .cartBox {
          opacity: 0;
          display: flex;
          align-items: center;
          gap: 5px;
          transition: opacity 0.3s ease;
        }

        .Visible {
          position: absolute;
          transition: opacity 0.3s ease, transform 0.3s ease;
          opacity: 0;
          left: -70%;
          transform: translateX(0);
        }

        &:hover {
          transform: scale(1.01);

          .cartBox {
            opacity: 0;
          }

          .Visible {
            opacity: 1;
            left: 10px;
            transform: translateX(0);
          }
        }

        &:active {
          transform: scale(0.98);
          background-color: black;
        }

        @keyframes Skeleton {
          0% {
            background-color: gray;
          }
          50% {
            background-color: lightgray;
          }
          100% {
            background-color: gray;
          }
        }

        span {
          animation: Skeleton 1.5s infinite;
        }
      }
      .cart {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        border: solid 1px black;
        padding: 5px 15px;
        border-radius: 20px;
        min-width: 123px;
        color: var(--text-primary);
        background-color: var(--background-secondary);
        span {
          height: 15px;
          background-color: gray;
          width: 2px;
        }
        .cartBox {
          display: flex;
          align-items: center;
          gap: 5px;
          transition: 0.3s ease;
        }
        .Visible {
          position: absolute;
          transition: 0.3s ease;
          opacity: 0;
          right: 10px;
          transform: translateX(-70%);
        }
        &:hover {
          scale: 1.01;

          .cartBox {
            opacity: 0;
            transition: 0.3s ease;
          }
          .Visible {
            opacity: 1;
            transform: translateX(0);
          }
        }
        &:active {
          scale: 0.98;
          background-color: black;
        }
      }
    }
  }
}
.popUp {
  padding: 10px;
  z-index: 40;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    width: 800px;
    height: 400px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .textPopUp {
      text-align: center;
      h1 {
        color: black;
        font-size: 24px;
        font-weight: 700;
      }
      p {
        color: var(--color-accent);
        font-weight: 500;
        font-size: 18px;
      }
    }
    .ShoppingCart {
      img {
        max-width: 200px;
        height: 100%;
      }
    }
    .cross {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 20px;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        width: 100%;

        background-color: rgba(0, 0, 0, 0.1);
        height: 2px;
      }
      span {
        cursor: pointer;
      }
      p {
        color: black;
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .container {
    .cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 32px 0;
      border-bottom: solid 1px black;

      &__LogoBlock {
        display: flex;
        align-items: center;
        gap: 15px;
        width: fit-content;
        padding: 0.4rem;
        border-radius: 5px;
        &__Text {
          display: none;
          h1 {
            color: white;
            font-weight: 900;
          }
          p {
            color: gray;
            opacity: 0.9;
            font-size: 14px;
          }
        }
      }
      .Search {
        flex: 1;
        margin: 0px;
      }
      .ButtonBox {
        display: flex;
        padding: 0px 5px;
        gap: 20px;
        .Profile {
          min-width: 110px;
          height: 31px;
          display: flex;
          align-items: center;
          gap: 10px;
          border: solid 1px black;
          padding: 5px 15px;
          border-radius: 15px;
          background-color: transparent;
          color: black;
          font-weight: 500;
          img {
            border-radius: 100%;
            width: 20px;
            height: 20px;
          }
          &:hover {
            scale: 1.02;
          }
          &:active {
            scale: 0.98;
          }
        }
        .loading {
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px 15px;
          border-radius: 20px;
          animation: Skeleton 1.5s infinite;

          span {
            height: 15px;
            background-color: gray;
            width: 2px;
          }
          b {
            opacity: 0;
          }
          .cartBox {
            opacity: 0;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: opacity 0.3s ease;
          }

          .Visible {
            position: absolute;
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 0;
            left: -70%;
            transform: translateX(0);
          }

          &:hover {
            transform: scale(1.01);

            .cartBox {
              opacity: 0;
            }

            .Visible {
              opacity: 1;
              left: 10px;
              transform: translateX(0);
            }
          }

          &:active {
            transform: scale(0.98);
            background-color: black;
          }

          @keyframes Skeleton {
            0% {
              background-color: gray;
            }
            50% {
              background-color: lightgray;
            }
            100% {
              background-color: gray;
            }
          }

          span {
            animation: Skeleton 1.5s infinite;
          }
        }
        .cart {
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          border: solid 1px black;
          padding: 5px 15px;
          border-radius: 20px;
          min-width: 123px;
          color: var(--text-primary);
          background-color: var(--background-secondary);
          span {
            height: 15px;
            background-color: gray;
            width: 2px;
          }
          .cartBox {
            display: flex;
            align-items: center;
            gap: 5px;
            transition: 0.3s ease;
          }
          .Visible {
            position: absolute;
            transition: 0.3s ease;
            opacity: 0;
            right: 10px;
            transform: translateX(-70%);
          }
          &:hover {
            scale: 1.01;

            .cartBox {
              opacity: 0;
              transition: 0.3s ease;
            }
            .Visible {
              opacity: 1;
              transform: translateX(0);
            }
          }
          &:active {
            scale: 0.98;
            background-color: black;
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .container {
    .cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 32px 0;
      border-bottom: solid 1px black;

      &__LogoBlock {
        display: flex;
        align-items: center;
        gap: 15px;
        width: fit-content;
        padding: 0.4rem;
        border-radius: 5px;
        &__Text {
          display: none;
          h1 {
            color: white;
            font-weight: 900;
          }
          p {
            color: gray;
            opacity: 0.9;
            font-size: 14px;
          }
        }
      }
      .Search {
        flex: 1;
        margin: 0px;
      }
      .ButtonBox {
        display: flex;
        padding: 0px 5px;
        gap: 20px;
        .Profile {
          min-width: 0px;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          gap: 10px;
          border: solid 1px black;
          border-radius: 100%;
          background-color: transparent;

          span {
            display: none;
            color: black;
            font-weight: 500;
          }
          img {
            border-radius: 100%;
            width: 20px;
            height: 20px;
          }
          &:hover {
            scale: 1.02;
          }
          &:active {
            scale: 0.98;
          }
        }
        .loading {
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px 15px;
          border-radius: 20px;
          animation: Skeleton 1.5s infinite;

          span {
            height: 15px;
            background-color: gray;
            width: 2px;
          }
          b {
            opacity: 0;
          }
          .cartBox {
            opacity: 0;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: opacity 0.3s ease;
          }

          .Visible {
            position: absolute;
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 0;
            left: -70%;
            transform: translateX(0);
          }

          &:hover {
            transform: scale(1.01);

            .cartBox {
              opacity: 0;
            }

            .Visible {
              opacity: 1;
              left: 10px;
              transform: translateX(0);
            }
          }

          &:active {
            transform: scale(0.98);
            background-color: black;
          }

          @keyframes Skeleton {
            0% {
              background-color: gray;
            }
            50% {
              background-color: lightgray;
            }
            100% {
              background-color: gray;
            }
          }

          span {
            animation: Skeleton 1.5s infinite;
          }
        }
        .cart {
          min-width: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px; // Размер кнопки
          height: 50px;
          border-radius: 100%; // Делаем кнопку круглой
          background-color: var(--background-secondary);
          border: solid 1px black;
          position: relative;
          cursor: pointer;
          transition: 0.3s ease;

          .cartBox {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          b {
            display: none; // Убираем сумму
          }

          span {
            display: none; // Убираем разделительную линию
          }

          &:hover {
            transform: scale(1.05);
          }

          &:active {
            transform: scale(0.95);
            background-color: black;
          }
        }
      }
    }
  }
}
